<div class="jumbotron">
    <h1>Rosebud 🌹</h1>
    <p class="lead">Keep lists of your favorite movies!</p>
    <p>
    <a href="/Movies" class="btn btn-primary btn-lg">Search Movies</a>
    <a href="/MovieLists" class="btn btn-primary btn-lg">View Lists</a>
    </p>
</div>
